doctype html
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Log In</h1>
  <form action="" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Log In</button>
    
    <div>Don't have an account?</div>
    <a href="sign-up">Sign Up</a>
    <span>or</span>
    <a onclick=""> enter as a guest </a>
  </form>
</body>
</html>