extends layout

block content
    if(!user.member)
        div You are not a member! 
        div Become a member 
        a(href="membership-form") here!
    else
        form(action="" method="POST")
            div.form-group
                label(for="title") Title
                input#title(name="title" type="text")

            div.form-group
                label(for="text") Write your message here!
                input#text(name="text" type="text")

            button(type="submit") Submit