extends layout 

block content
  h1 Message Feed
  each message in messages_list
    .message
      .title #[strong #{message.title}]
      .text #{message.text}
      .date #{message.date}
      .author #{message.user}